[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"discord.py" = "*"
pafy = "*"
python-dotenv = "*"
asgiref = "*"
opuslib = "==3.0.1"
tidalapi = {ref = "0.7.x", git = "https://github.com/tamland/python-tidal"}
youtube_dl = "*"
PyNaCl = "*"

[dev-packages]

[requires]
python_version = "3.9"
